@import url("https://fonts.googleapis.com/css2?family=Cambo&family=Outfit:wght@600&family=Playfair+Display&display=swap");

body {
  font-family: "Cambo", serif;

  font-family: "Outfit", sans-serif;

  font-family: "Playfair Display", serif;
}

h1 {
  font-weight: 200;
}

.main {
  margin: 10px;
  padding: 10px;
}
