@import url("https://fonts.googleapis.com/css2?family=Cambo&family=Outfit:wght@600&family=Playfair+Display&display=swap");

* {
  font-family: "Cambo", serif;

  font-family: "Outfit", sans-serif;

  font-family: "Playfair Display", serif;
}
